{% assign form-type = 'horizontal' %}
<section id="page-not-found" class="section-wrap">
  <div class="customer-login-form form-wrapper-horizontal">
  <h1 class="page-header">Sorry, that page <br />could not be found.</h1>
    <p><a href="/">Return to the main page</a>.</p>
  </div>
</section>
