{% include '__has-variables' %}
<section id="cart-wrap" class="section-wrap">

  {% include '__cart-breadcrumb' %}


  <div class="col-cart-left">

    {% include '__formatted-content' %}

    {% if has_cart %}

    {% if cart.item_count == 0 %}
    <h2>Your cart is empty! Please add some items.</h2>
    {% else %}
    <!-- <form action="/cart" method="post" id="cartform1"> -->
    {% include '__cart-table-buy' %}
    {% include '__cart-table-try' %}
    <!-- </form> -->
    {% endif %}
    {% endif %}

  </div>

  <div class="col-cart-right">
    {% include '__cart-price' %}
    {% include '__cart-customer' %}
  </div>

  <!-- </div> -->

</section>  


<script>
  $(document).ready(function(){
    var activeColor = '#a54c3a' ;
    var inactiveColor = '#333' ;
    var checkout_form_position = 1;
    var checkout_try_required = 5;
    var checkout_try_array = $('.checkout_try').length;
    var checkout_try_remaining = parseInt(checkout_try_required - checkout_try_array);

    $('.checkout_breadcrumb .step1 a').css('color', activeColor);

    $('.btnContinue').click(function(){
      checkout_section();
    });    

    $('.checkout_breadcrumb .step1').click(function(){
      checkout_section(".step1");
    });    

    $('.checkout_breadcrumb .step2').click(function(){
      checkout_section(".step2");
    });    

    $('.checkout_breadcrumb .step3').click(function(){
      checkout_section(".step3");
    });    


    function checkout_section(stepValue){

      console.log("hey you clicked on "+stepValue);

      $('.checkout_breadcrumb .step1 a').css('color', inactiveColor);
      $('.checkout_breadcrumb .step2 a').css('color', inactiveColor);
      $('.checkout_breadcrumb .step3 a').css('color', inactiveColor);

      $('.checkout_breadcrumb '+stepValue+' a').css('color', activeColor);

    };

    function remove_item(id) {
      document.getElementById('updates_'+id).value = 0;
      document.getElementById('cart').submit();
    }
    
    for ( var i = 0; i < checkout_try_remaining; i++ ) {
      var numberStamp = i + 1 + checkout_try_array;
      console.log( "generate cell " + i );
      $( "<div class=\"checkout_try empty\"><h5 id=\'test\'><strong>"+numberStamp+"</stroxng>. Please add another frame</h5></div>").appendTo( ".generate_empty_cells");
    }


  });
</script>
