	<div class="login" id="register">
		{% assign form-type = 'horizontal' %}
		<!-- <section id="register" class="section-wrap"> -->
		<div class="customer-register-form form-wrapper-horizontal">
			<h1 class="page-header">Register</h1>
			{% include '_form-register' %}
		</div>
		<!-- </section> -->

		<p class="login-or">or</p>

		<div data-hull-component="login/shopify@hull">Loading Social Login...</div>
	</div>


