<!-- Only generate if there are products in the try field -->
<div class="checkout_titles clearfix">
  <div class="checkout_cell1">
    <p><strong>Items</strong></p>
  </div>
  <div class="checkout_cell2">
    <p><strong>Items</strong></p>
  </div>
  <div class="checkout_cell3">
    <p><strong>Quantity</strong></p>
  </div>

   <div class="checkout_cell4">
    <p><strong>Price</strong></p>
  </div>
   
  <div class="checkout_cell5">
    <p><strong>Total</strong></p>
  </div>
  <div class="checkout_cell6">
    <p><strong>Remove</strong></p>
  </div>
</div>
<!-- Only generate if there are products in the try field -->