<h3>Cart total</h3>
<div class="priceTotal">
  <h4><strong>{{ cart.total_price | money }}</strong></h4>
</div>

<div class="row cart-buttons">

  <h4>Spoof button, next fieldset</h4>
  <a href="#" class="btn btn-primary btnContinue">CONTINUE &#x2192;</a>
  
  <h4>Proceed to checkout form button</h4>
  <input type="submit" id="checkout" class="btn btn-primary" name="checkout" value="Proceed to Details &amp; Payment" />
  <!-- <input type="submit" id="update-cart" class="btn" name="update" value="Update" /> -->
  {% if additional_checkout_buttons %}        
  {{ content_for_additional_checkout_buttons }}
  {% endif %}

  <p>2&ndash;4 Business Day Shipping | Free Shipping | Free Returns</p>
  
</div>
