<div class="checkout_topbar">
  <ol class="checkout_breadcrumb">
    <li class="step1"><a href="#">View Cart</a></li>
    <li class="step2"><a href="#">Details &amp; Payment</a></li>
    <li class="step3"><a href="#">Review Order</a></li>
  </ol>

<a href="#" class="btn btnSecondary">Continue Shopping</a>

</div>