<h3>Customer Service</h3>
<p>Need assitance?<br />Call us on 020 7281 4269<br /></p>
<p>Monday to Thursday<br />8:00am &ndash; 5:00pm GMT</p>
<p>Friday<br />9:00am &ndash; 5:00pm GMT</p>
<p><strong>Shipping Policy</strong><br /><strong>Returns Policy</strong><br /><strong>Waranty</strong></p>