<h4>Cart total</h4>
<div class="priceTotal">
	<p id="priceFinal">{{ cart.total_price | money }}</p>
</div>

<div class="row cart-buttons">
	
	<!-- <a href="javascript:void(0);" id="continue" class="btn btn-primary btnContinue">Proceed to 'Details' &#x2192;</a> -->

	<a href="#details" id="continue" class="btn btn-primary btnContinue">Proceed to 'Details' &#x2192;</a>

	<input type="submit" id="checkout" class="btn btn-primary" name="checkout" value="Proceed to Review &amp; Payment &#x2192;" />
	<!-- <input type="submit" id="update-cart" class="btn" name="update" value="Update" /> -->
	{% if additional_checkout_buttons %}        
	{{ content_for_additional_checkout_buttons }}
	{% endif %}

	<div class="details">
		<p>
			<span class="time">2&ndash;4 Business Day Shipping</span>
			<span class="shipping">Free Shipping</span>
			<span class="returns">Free Returns</span>
		</p>
	</div>
</div>
