<!-- Only generate if there are products in the try field -->
<div class="checkout_titles clearfix">
  <div class="checkout_cell1">
    <p>Items</p>
  </div>
  <div class="checkout_cell2">
    <p>Items</p>
  </div>
  <div class="checkout_cell3">
    <p>Quantity</p>
  </div>

   <div class="checkout_cell4">
    <p>Price</p>
  </div>
   
  <div class="checkout_cell5">
    <p>Total</p>
  </div>
  <div class="checkout_cell6">
    <p>Remove</p>
  </div>
</div>
<!-- Only generate if there are products in the try field -->