<div class="checkout_topbar">
	<div class="col-cart-left">
		<ol class="checkout_breadcrumb">
			<li class="step1">1. View Cart</li>
			<li class="step2">2. Details</li>
			<li class="step3">3. Review &amp; Payment</li>
		</ol>
	</div>

	<div class="col-cart-right">
		<a href="#" class="btn btn-secondary">Back to Shopping</a>
	</div>
</div>