<div class="checkout_topbar">
	<div class="col-cart-left">
		<ol class="checkout_breadcrumb">
			<li class="step1"><a href="javascript:void(0);">1. View Cart</a></li>
			<li class="step2"><a href="javascript:void(0);">2. Details</a></li>
			<li class="step3">3. Review &amp; Payment</li>
		</ol>
	</div>

	<div class="col-cart-right">
		<a href="#" class="btn btn-secondary">Back to Shopping</a>
	</div>
</div>